h1 {
    font-size: 72px;
    text-align: center;
    font-family: 'Garamond', 'Times New Roman', serif;
}

body {
    background-color: rgb(215, 169, 156);
}

h2 {
    color: rgb(49, 0, 47);
}

.recipe-link a{
    color: rgb(123, 0, 37);
}

img {
    width: 500px; 
    height: auto;
}